@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    --scroll-behavior: smooth; /*Плавная прокрутка к якорям*/
    scroll-behavior: smooth;
   }

header {
    opacity: 0;
    animation: ani 1.5s forwards;
  }
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }


* {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-seri;
    font-weight: normal;
    font-weight: lighter;
    
}

.box {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.box_text {
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    transition: .4s;
    border-radius: 3px;
}

.box_text:hover {
    color: rgb(247, 228, 144);
    background-color: rgba(58, 60, 68, 0.733);
    border-radius: 3px;
    
    
}

.box_text_lvl2 {
    backdrop-filter: blur(4px);
    -wbkit-backdrop-filter: blur(4px);
}

header li {
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    transition: box-shadow .5s;
    backdrop-filter: blur(4px);
    -wbkit-backdrop-filter: blur(4px);
    z-index: 9999;
    
}

header .logotip {
    font-size: 22px;
    text-transform: uppercase;
    font-size: 500;
    transition: .5s;
    color: rgb(250, 235, 215);
    }

   

header .logotip:hover {
    transform: scale(1.2);
    color: rgb(189, 155, 212);
    text-shadow: 11px 10pt 1px rgba(247, 228, 144, 0.9);
    
    }


header nav ul li {
    position: relative;
    float: left;    
    
    
}

header nav ul li a {
    padding: 15px;
    font-size: 16px;
    display: block;
    color: rgb(250, 235, 215);
    text-decoration: none;    
}



nav ul li ul {
    position: absolute;
    left: 0;
    width: 220px;
    background: rgba(34, 35, 37, 0.747);
    display: none;
    

    
}

nav ul li ul li {
    width: 100%;
    border: 1px solid #1d1e22da;
    left: 0px;
    width: 220px;    
    transition: .4s;    
}

nav ul li ul li:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(104, 107, 121, 0.397);  
}


nav ul li ul li ul {
    left: 220px;
    top: 0;
    
}

nav ul li:hover > ul {
    display: initial;
}

.header_mini{
    background-color:rgba(29, 30, 34, 0.7);
    box-shadow: 0px 0px 25px -8px rgb(255, 255, 255);
    transition: box-shadow .8s, padding-bottom;
}
header a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Popins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("background-login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wrapper {
    width: 420px;
    background-color: rgba(240, 255, 255, 0.253);
    border: 2px solid rgba(22, 17, 17, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(22, 17, 17, 0.2);
    color: rgba(10, 10, 10, 0.733);
    border-radius: 10px;
    padding: 30px 40px;

}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    transition: .9s;
    text-transform: uppercase;
    animation: animate linear 2000ms infinite;
}

@keyframes animate {
    0% {
        text-shadow: 
        4px -4px 0 #42aaff,
        3px -3px 0 #42aaff,
        2px -2px 0 #42aaff,
        1px -1px 0 #42aaff,
        -4px -4px 0 #fa800e85,
        -3px 3px 0 #fa800e85,
        -2px 2px 0 #fa800e85,
        -1px 1px 0 #fa800e85
        ;
    }
    25% {
        text-shadow: 
        -4px -4px 0 #fa800e85,
        -3px -3px 0 #fa800e85,
        -2px -2px 0 #fa800e85,
        -1px -1px 0 #fa800e85,
        4px 4px 0 #42aaff,
        3px 3px 0 #42aaff,
        2px 2px 0 #42aaff,
        1px 1px 0 #42aaff      
        ;
    }
    50% {
        text-shadow: 
        -4px 4px 0 #42aaff,
        -3px 3px 0 #42aaff,
        -2px 2px 0 #42aaff,
        -1px 1px 0 #42aaff,
        4px -4px 0 #fa800e85,
        3px -3px 0 #fa800e85,
        2px -2px 0 #fa800e85,
        1px -1px 0 #fa800e85
        ;
    }
    75% {
        text-shadow: 
        4px 4px 0 #fa800e85,
        3px -3px 0 #fa800e85,
        2px -2px 0 #fa800e85,
        1px -1px 0 #fa800e85,
        -4px -4px 0 #42aaff,
        -3px -3px 0 #42aaff,
        -2px -2px 0 #42aaff,
        -1px -1px 0 #42aaff  
        ;
    }
        100% {
        text-shadow: 
        4px -4px 0 #42aaff,
        3px -3px 0 #42aaff,
        2px -2px 0 #42aaff,
        1px -1px 0 #42aaff
        -4px 4px 0 orange,
        -3px 3px 0 orange,
       -2px 2px 0 orange,
        -1px 1px 0 orange,  
        ;
    }
}
.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(5, 5, 5, 0.664);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color:rgba(10, 10, 10, 0.836);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember label input {
    accent-color: rgb(12, 12, 12);
    margin-right: 3px;
}

.remember a {
    color:black;
    text-decoration: none;
}

.remember a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background-color: rgb(194, 202, 209);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(26, 26, 26, 0.2);
    cursor: pointer;
    font-size: 16px;
    color: rgb(54, 54, 54);
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px;
}

.register-link p a{
    color: rgb(39, 38, 38);
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

h1 {

}
