html {
    --scroll-behavior: smooth; /*Плавная прокрутка к якорям*/
    scroll-behavior: smooth;
   }

header {
    opacity: 0;
    animation: ani 1.5s forwards;
  }

body {
    background-color: rgb(29, 30, 34);
    padding-top: 0;   
    background-position-y: 10px;
    background-image: url("backgroundfull.jpg");
    background-size: 100%;
/*    background-size: calc(100vh - var(--header-height)); */
    background-repeat:no-repeat;
    width: 100%;
    position: relative;
    scroll-padding-top: 100px;
}

.container {
    
}
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }


* {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-seri;
    font-weight: normal;
    font-weight: lighter;
    
}

.box {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.box_text {
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    transition: .4s;
    border-radius: 3px;
}

.box_text:hover {
    color: rgb(247, 228, 144);
    background-color: rgba(58, 60, 68, 0.733);
    border-radius: 3px;
    
    
}

.box_text_lvl2 {
    backdrop-filter: blur(4px);
    -wbkit-backdrop-filter: blur(4px);
}

header li {
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    transition: box-shadow .5s;
    backdrop-filter: blur(4px);
    -wbkit-backdrop-filter: blur(4px);
    z-index: 9999;
    
}

header .logotip {
    font-size: 22px;
    font-size: 500;
    transition: .5s;
  /**  text-transform: uppercase; **/
    animation: animate linear 2000ms infinite;
    }

   

header .logotip:hover {
    transform: scale(1.2);
    color: rgb(189, 155, 212);
    text-shadow: 11px 10pt 1px rgba(247, 228, 144, 0.9);
    
    }


header nav ul li {
    position: relative;
    float: left;    
    
    
}

header nav ul li a {
    padding: 15px;
    font-size: 16px;
    display: block;
    color: rgb(250, 235, 215);
    text-decoration: none;    
}



nav ul li ul {
    position: absolute;
    left: 0;
    width: 180px;
    background: rgba(34, 35, 37, 0.747);
    display: none;
    
    

    
}

nav ul li ul li {
    width: 100%;
    border: 1px solid #1d1e22da;
    left: -41px;
    width: 220px;    
    transition: .4s;    
    

}

nav ul li ul li:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(121, 104, 111, 0.397);  
    
}


nav ul li ul li ul {
    left: 220px;
    top: 0;
    
}

nav ul li:hover > ul {
    display: initial;
}

.header_mini{
    background-color:rgba(29, 30, 34, 0.7);
    box-shadow: 0px 0px 25px -8px rgb(255, 255, 255);
    transition: box-shadow .8s, padding-bottom;
}
header a {
    text-decoration: none;
}


    
@media screen and (max-width: 1500px) {
body .firstblock {
    height: 50vh;
}
}

@media screen and (max-width: 1300px) {
    body .Philosophy_of_space {
        font-size: 75px;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0px;
    }
    }

    @media screen and (max-width: 700px) {
        body .Philosophy_of_space {
            font-size: 40px;
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 0px;
        }
        }
            

@media screen and (max-width: 470px) {
    body .firstblock {
        height: 40vh;
    }
    }

@media screen and (max-width: 700px) {
        body .firstblock {
            height: 30vh;
        }
        }
    

@media screen and (max-width: 1024px) {
    body .twoblock {
        margin-left: 10%;
        margin-right: 10%;
    }

}

@media screen and (max-width: 412px) {
    body .twoblock {
        margin-left: 5%;
        margin-right: 5%;
    }

}

@media screen and (max-width: 1024px) {
    .button{
        margin-left: 100px;
    }

}

@media screen and (max-width: 600px) {
    .button{
        visibility: hidden;
    }

}

@media screen and (max-width: 550px) {
    h2 {
        font-size: 30px;
        padding-bottom: 20px;
    }
    .sidepar1 {
        margin-bottom: 100px;
    }

}


@media screen and (max-width: 800px) {
header nav ul li a {
    font-size: 15px;
}
}

@media screen and (max-width: 550px) {
    header nav ul li a {
        font-size: 10px;
    }
    }

@media screen and (max-width: 800px) {
    header .logotip {  
        font-size: 15px;
        
}
}

@media screen and (max-width: 800px) {
    header .logotip {  
        font-size: 10px;
    }
            
}  

@media screen and (max-width: 800px) {
    header .logotip {  
        font-size: 10px;
    }
            
} 


.firstblock {
    margin-top: 0px;
    height: 70vh;
    width: 10%;

    position:relative;
    top: 0px;
    left: 0;
    right: 0;
    display: flex;
    padding: 0 8%;
    z-index: 1000;
}



.sidepar1 h1 {
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-variant: small-caps;
    font-weight: 50;
    font-size: 6vw;
    color: #faebd7;
    margin-left: 300px;
    margin-top: 20vh;
}

.sidepar2 h1 {
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    color: rgb(250, 235, 215);
    margin-left: -10vh;
    font-size: 3vw;
    margin-top: 33vh;
    transition: .9s;
    width: 400px;
    height: 40px;
}
.sidepar3 h1 {
    font-family: New Century Schoolbook, TeX Gyre Schola, serifi;
    color: rgb(250, 235, 215);
    margin-left: -22vh;
    font-size: 3vw;
    margin-top: 39vh;
    transition: .9s;
}

.sidepar4 h1 {
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    color: rgb(250, 235, 215);
    margin-left: -3vh;
    font-size: 6vw;
    margin-top: 33vh;
    transition: .9s;
    text-transform: uppercase;
    animation: animate linear 2000ms infinite;
}

/*АНИМАЦИЯ ТЕКСТА */
/*@keyframes animate {
    0% {
        text-shadow: 
        4px -4px 0 #42aaff,
        3px -3px 0 #42aaff,
        2px -2px 0 #42aaff,
        1px -1px 0 #42aaff,
        -4px -4px 0 #fa800e,
        -3px 3px 0 #fa800e,
        -2px 2px 0 #fa800e,
        -1px 1px 0 #fa800e
        ;
    }
    25% {
        text-shadow: 
        -4px -4px 0 orange,
        -3px -3px 0 orange,
        -2px -2px 0 orange,
        -1px -1px 0 orange,
        4px 4px 0 #42aaff,
        3px 3px 0 #42aaff,
        2px 2px 0 #42aaff,
        1px 1px 0 #42aaff      
        ;
    }
    50% {
        text-shadow: 
        -4px 4px 0 #42aaff,
        -3px 3px 0 #42aaff,
        -2px 2px 0 #42aaff,
        -1px 1px 0 #42aaff,
        4px -4px 0 orange,
        3px -3px 0 orange,
        2px -2px 0 orange,
        1px -1px 0 orange
        ;
    }
    75% {
        text-shadow: 
        4px 4px 0 orange,
        3px -3px 0 orange,
        2px -2px 0 orange,
        1px -1px 0 orange,
        -4px -4px 0 #42aaff,
        -3px -3px 0 #42aaff,
        -2px -2px 0 #42aaff,
        -1px -1px 0 #42aaff  
        ;
    }
        100% {
        text-shadow: 
        4px -4px 0 #42aaff,
        3px -3px 0 #42aaff,
        2px -2px 0 #42aaff,
        1px -1px 0 #42aaff
        -4px 4px 0 orange,
        -3px 3px 0 orange,
       -2px 2px 0 orange,
        -1px 1px 0 orange,  
        ;
    }
}
*/

/*
.sidepar4:hover {
    text-shadow: 60px 60px 8px rgba(74, 120, 163, 0.466);
    -webkit-text-stroke:0.5px rgb(250, 235, 215);
    -webkit-text-fill-color:transparent

}
*/



.twoblock {
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 0px;
    position: relative;
    color: #faf6d7;
    margin-top: 5%;
    
}

aside {
    width: 80px;
    height: 80px;
    padding-right: 20%;
    text-decoration: none;
    position: absolute;
    transition: 1s;
    float: right;
   
}

figcaption {
    text-align: center;
    margin-top: 5px;
}

aside button {
    width: 80px;
    height: 80px;
    background-color:rgba(29, 30, 34, 0.7);
    color:rgb(255, 255, 215);
    font-weight: 300;
    font-size: 16px;
    transition: 0.4s;
    border-radius: 100px;
    cursor: pointer;   
    position: sticky;
    border-width: 3px;
    border:0ch outline:#0c0c0c;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}


aside button:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.336);
}



.contents1 {
    text-decoration: none;
}

.a-center {
    color:rgb(250, 235, 215);
    font-size: 50px;
    margin-bottom: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 30px;
    text-align: justify;
    font-weight: normal;
    font-weight: lighter;
}

h1 {
    color:#faebd7;
    font-size: 50px;
    font-weight: lighter;
    margin-top: 35px;
    margin-bottom: 24px;
    text-align: center;

}

h2 {
    color:#faebd7;
    font-size: 50px;
    font-weight: lighter;
    margin-top: 35px;
    margin-bottom: 24px;
    text-align: center;
    
}

h3 {
    color: #faebd7;
    font-weight: initlia;
    font-size: 35px;
    font-style: italic;
}

h5 {
    color:#faebd7;
    font-size: 14px;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 10px;
}

.p1 {
    color:rgb(250, 235, 215);
    font-size: 22px;
    line-height: 1.;
    margin-bottom: 10зчpx;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 30px;
    text-align: justify;
    font-weight: normal;
    font-weight: lighter;
}

.Philosophy_of_space {
    color:rgb(250, 235, 215);
    font-size: 75px;
    margin-bottom: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 30px;
    text-align: center;
}




footer {
    z-index: 1000;
    position: relative;   
    width: 100%;
    height: 40vh;
    margin-top: 70px;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1000;
    align-items: center;
}

.footer_contacts {
    margin-top: 70px;
    position: relative;


}

.footer1 {
    color: #faebd7;
    margin-left: 0px;
    margin-left: 150px;
    font-size: 40px;
    font-weight: 500;


}

.footer2 {
    color: #faebd7;
    font-size: 22px;
    margin-left: 0px;
    margin-left: 150px;

}

footer hr {
    display: flex;
    background-image: linear-gradient(to right, transparent, rgba(250, 235, 215, 0.815), transparent);
    border: 0;
    height: 2px;
    margin: px 0 2px 0;box-sizing:
    content-box;
    display: block; 
    width: 100%;
    justify-content: center; 
    align-items: center;
  }




img {
    max-width: 100%;
    width: 700px;
    display: block;
    margin: 0 auto;
    transition: transform .6s;
}

img:hover {
    
       transform: scale(1.3);
    
}  

.the Doppler effect {
  max-width: 10px;
  height: auto;
}


.logo {
    max-width: 100%;
    width: 100px;
    margin-right: 200px;
    justify-content: left;
}

.selection {
    font-size: 22px;
    letter-spacing: 1px;
    margin-top: 7px;
    font-weight: normal;
    font-weight: lighter;
    cursor: pointer;
    color: #faf6d7;
    line-height: 1.5;
    margin-left: px;

}

.selection2 {
    text-decoration: none;
}

.select {
    font-size: 20px;
    text-decoration: none;
    height: calc(100vh – 80px);
    position:static;
    
}
.selection:hover {
    transform: translateX(0px);
}

.subtitle:hover {
    transform: translateX(6px);
}


a {
    color: #faebd7;
}

.parent {
    display: flex;
    padding: 20px 25px;
}




@keyframes bounce {
    0% {transform: translateY(-100%);}
    50% {transform: translateY(10%) scaleY(1.2);}
    100% {transform: translateY(0) scaleY(1);}
    
}





.shapka {
    margin-bottom: 10px;
    list-style: none;
    margin: 0;
    padding: 20px;

    
}

.a {
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 6px 7px rgba(124, 214, 199, 0.7);
    font-family: sans-serif;


}

.a:hover{
    color: rgb(233, 204, 60);
}

.li{
    display: inline;
}

.carousel {
    overflow: hidden;
    width: 600px;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    max-width: 100%;
    width: 2000px;
}

.wrapper {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    grid-auto-columns: 300px;
}
.wrapper::webkit-scrollbar {
    display: none;
    width: 100px;
}



.carusel {
    scroll-snap-align: start;
    border-radius: 30px;
    min-width: 300px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.carousel > img {
    scroll-snap-align: center;
}

aside {
    position: sticky;
    top: 150px;
    margin-left: 100px;
    margin-top: 100px;
}
